
.ly-et-toolbar a {
	display: block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	text-indent: -10000px;
	text-decoration: none;
	margin: 5px 3px;
	float: left;
	cursor: pointer;
}

.ly-et-file {
	padding: 5px;
	clear: both;
	display: none;
}
.ly-et-file input[type="file"] {
	max-width: 200px;
}
.ly-et-file button {
	margin: 0px 8px;
	padding: 5px 10px;
	color: black;
}
.ly-et-file-close {
	cursor: pointer;
}
.ly-et-file-form {
	clear: both;
}
.ly-et-file-list ul {
	float: left;
	margin: 0;
}
.ly-et-file-list li {
	float: left;
}
.ly-et-file-list img {
	width: 40px;
	height: 40px;
	float: left;
	cursor: pointer;
	padding: 8px;
}

