
/* body */
#main .alert-box .close {
	right: none;
}
.holderplace {
	height: 50px;
}
#header .top-bar {
	max-width: 60rem;
}
#main, #header, #footer {
	width: 100%;
	margin: 0 auto;
}
#main, #footer {
	max-width: 58rem;
}
#footer {
	margin-top: 30px;
}

/* user login */
#user_login { 
	max-width: 22rem;
	padding: 1px 20px;
	border: 1px solid #D5C9B4;
}
#user_login dd {
	width: 50%;
}

/* tab head */
.tab-1 .tabs dd > a,
.tab-1 .tabs dd.active a {
	background: none;
}
.tab-1 dl .active h3 {
	color: black;
}
.tab-1 dl h3 {
	color: #CFC4BA;
}

/* form */
.form p {
	margin-bottom: 4px;
}


.form textarea {
	height: 242px;
}
.form progress,
.form progress::-webkit-progress-bar,
.form progress::-moz-progress-bar {
	background-color: white;
	height: 5px;
	border-radius: 9px;  
}
.form progress::-webkit-progress-value {  
	background-color: #B1A28A;
}

/* table */
.table img {
	height: 30px;
	width: 30px;
}

/* panel */
#main .panel {
	border-radius: 9px;
}

